@font-face{
    font-family: Montserrat Regular;
    font-display: auto;
    src: local('Montserrat Regular'), url(./assets/fonts/Montserrat-Regular.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Bold;
    font-display: auto;
    src: local('Montserrat Bold'), url(./assets/fonts/Montserrat-Bold.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat ExtraBold;
    font-display: auto;
    src: local('Montserrat ExtraBold'), url(./assets/fonts/Montserrat-ExtraBold.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Italic;
    font-display: auto;
    src: local('Montserrat Italic'), url(./assets/fonts/Montserrat-Italic.woff2);
    font-style: normal;
}
@font-face{
    font-family: Montserrat Medium;
    font-display: auto;
    src: local('Montserrat Medium'), url(./assets/fonts/Montserrat-Medium.woff2);
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'Montserrat Medium';
}

h1{
    font-size: 48px;
    line-height: 64px;
    color:#fff;
    text-align: center;
}

h3{
    font-family: 'Montserrat Regular';
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
}


.container {
    width: 75%;
    margin: 0 auto;
}

.primary-button{
    font-family: 'Montserrat Medium';
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    padding: 14px 36px;
    border: 0px;
}
.home-section {
    background-image: url(./assets/img/Rectangle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    height: 100vh;
}
.home-section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.home-section-content h1{
    margin: 30px 15% 50px;
}
.navbar{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #A1A1A1;
}
.menu{
    display: flex;
    justify-content: center;
}
.menu-points {
    padding: 40px 0;
}
.navbar .menu-points a{
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 0 20px 0;
}

/* mobil App section */

h2 {
    font-family: 'Montserrat Bold';
    padding: 110px 15% 50px;
    margin: 0;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
}

.mobile-app-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-mobile-app {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    margin: 0 15%;
    padding-bottom: 70px;
}

.list-mobile-apps {
    display: flex;
    padding-bottom: 55px;
}

.list-mobile-apps-items{
    display: flex;
    justify-content: center;
}

.external_circle{
    margin: 0;
    opacity: 1;
    padding: 10px;
    width: 110px;
    height: 110px;
    /* left: 405px;
    top: 1259px; */
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
}

.internal_circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 90px;
    height: 90px;
    /* left: 415px;
    top: 1269px; */
    border-radius: 50%;
    border: 1px solid #4985FF;
    box-sizing: border-box;
}
.internal_circle img{
    height: 40px;
    width: 40px;
}

.mobile-app-section .primary-button{
    margin-bottom: 105px;
}

.list-mobile-apps .item-name{
    font-family: 'Montserrat Bold';
    padding: 45px 27px 12px 17px;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
}

.list-mobile-apps .item-text{
    font-size: 14px;
    line-height: 22px;
    color: #999999;
    padding: 0 27px 0 17px;
}